.sass-cache
.vagrant
.webpack-cache

/build/
/bin/*
!/bin/console

/node_modules
/tmp
/vendor/


# OS dependent stuff #
.DS_Store
._*
/.idea
*.iml
/.buildpath
/.project
/.settings
/nbproject
/shortcuts
backups
auth.json
Gemfile.lock
Thumbs.db
Thumbs.db:encryptable
.npmrc
.env
